section#todowrapper
{
	display: block;
	width: 600px;
	height: 570px;
	margin: 40px auto;
}

section#todowrapper article#bugs
{
	float: left;
	margin-right: 10px;
	width: 125px;
	height: 200px;
	display: block;
}

section#todowrapper article#bugs span#phark
{
	display: block;
	width: 125px;
	height: 200px;
	text-indent: -9999px;
	background: url(../img/bugs.jpg);
	repeat: none;
}

section#todowrapper article#emptycontent
{
	position: relative;
	float: right;
	height: 100px;
	width: 465px;
	display: block;
	margin-top: 30px;
}

section#todowrapper article#emptycontent ul .done
{
	text-decoration: line-through;
}