.parentColumn {
  border-bottom: 1px solid #CCC;
}

.childColumn {
  border-bottom: 1px solid #EEE;
}

section#contentWrapper .column .select {
  margin-top: 10px;
}

.informators {
  display: none;
}

.bottomPart #submit button:first-child {
  margin-left: 10px;
}

.bottomPart #submit button {
  float: right;
  margin-top: 5px;
  min-width: 150px;
}

@media (max-width: 768px) {
  .titleColumn {
    display: none;
  }

  .informators {
    display: block;
  }

  section#contentWrapper .container .columns .column .columns.level .column figure {
    margin: 0 auto;
  }

  section#contentWrapper .container .columns .column .columns.level .column {
    text-align: center;
    margin: 0 auto;
  }

  .grid-1 {
    grid-area: hd;
  }

  .grid-1 * {
    margin: 0 auto;
  }

  .grid-2 {
    width: 100%;
    grid-area: cn;
  }

  .columns.is-gapless > .column .grid-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .grid-3 {
    grid-area: prc;
    min-width: 5rem;
  }

  .grid-4 {
    grid-area: quan;
    min-width: 4rem;
  }

  .grid-5 {
    grid-area: tot;
    min-width: 5rem;
  }

  .grid-6 {
    grid-area: del;
    min-width: 100%;
  }

  .grid-6 a {
    padding: 0.5rem 40%;
  }

  .grid-box {
    display: grid;
    grid-template-areas: "hd hd hd" "cn cn cn" "prc quan tot" "del del del";
    grid-row-gap: 1rem;
  }

  .is-left-mobile {
    float: left;
  }

  .is-right-mobile {
    float: right;
  }
}
